<div class="page-header">
    <h1 ng-bind-html="vm.pageTitle"></h1><br>
    <p>Adicione, edite e delete os dados do seu funcionário!</p>
    <div class="col-lg-4">
            <a class="btn btn-success pull-right" ui-sref="main.todo-create">
               Novo Funcionário
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </div>
</div>


<div class="row">
    <div class="col-lg-8"></div>

</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>CPF</th>
            <th>RG</th>
            <th>CARGO</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.users">
            <td ng-bind="item.id"></td>
            <td ng-bind="item.name"></td>
            <td ng-bind="item.email"></td>
            <td ng-bind="item.cpf"></td>
            <td ng-bind="item.rg"></td>
            <td ng-bind="item.cargo"></td>
            <td>               
              
                <a class="btn btn-info" ui-sref="main.todo-update({id: item.id })">
                    Update
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                
                <button type="button" class="btn btn-danger" ng-click="vm.deleteUserApi(item);">
                    Delete
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

  