    <div class="la-content-login center-block shadow--2dp">
        <div class="">
            <img src="assets/images/logo.png" alt="">
        </div>
        <div class="la-div-separator"></div>
        <div class="">
            <form novalidate >
                <div class="form-group">
                    
                    <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Usuário" ng-model="vm.username" required />
                        </div>
                </div>
                <div class="form-group">
                    
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Senha" id="password" ng-model="vm.password" required />
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" ng-click="vm.Submit()" class="btn btn-primary">Entrar</button>
                    <button type="reset" class="btn btn-warning">Limpar</button>
                </div>
            </form>
        </div>
    </div>
